body{
	background: black;
}
h1{
	color: white;
	text-align: center;
}
canvas{
	border: solid white;
}
#main{
	width: 360px;
	height: 540px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0%);
}
#status{
	width: 300px;
	margin: 0 40px;
	float: right;
	border: solid white;
}
#show{
	margin-left: 40px;
	color: white;
}
#nextBlock{
	width: 180px;
	height: 120px;
	display: block;
	margin: 10px auto;
}
#score{
	color: white;
	text-align: center;
}
#game{
	width: 100%;
	height: 100%;
	display: block;
}
#gameover{
	width: 350px;
	height: 170px;
	position: absolute;
	display: none;
	border: solid white;
	top: 50%;
	left: 50%;
	background: black;
	transform: translate(-50%,-50%);
	 z-index: 99;
}
#gameover>h3{
	text-align: center;
	color: white;
}
#gameover>p{
	text-align: center;
	color: white;
}
#restart:hover{
	color: red;
}
@media screen and (max-width: 1150px) {
    #main{
    	left: 30%;
    }
}
@media screen and (max-width: 800px) {
    #status{
    	display: none;
    }
    #main{
    	left: 50%;
    }
}